* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(100deg, #08daff, #0444bd, #3302a5);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 80px;
    position: relative;
}