* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(../image/fish.gif);
    background-repeat: no-repeat;
    background-size: 100% 1000%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 80px;
    position: relative;
}

.contenedor{
    margin-top: 25%;
    background: transparent
    height: 380px;
    width: 250px;
    padding:25px;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 2px solid #B80C09;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}